body {
  background-color: blueviolet;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

div {
  border:  3px black solid;
}

#link-home {
  text-align: center;
  font-size: large;

}

#Link-home-text {
  text-align: center;
  font-size: large;
}

.container > .title:hover{
  background-color: purple;
}

.container > .headings:hover{
  background-color: whitesmoke;
}

.container-bonus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border:none
}

.headings {
  color: black;
  text-shadow: -2px 2px darkblue;
  display: flex;
  text-decoration: underline;
  width: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 6px purple dashed;
  border-style: double;
  margin: 25px;
  transition: transform 0.3s;
}

.headings:hover{
  transform: scale(1.05);
}

.title {
  border:  4px blue dashed;
  color: white;
  text-shadow: -2px 2px red;
  display: flex;
  text-decoration: underline;
  width: 575px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  text-align: center;
  margin: 20px;
  border-radius: 100px;
  transition: transform 0.3s;
}

.title:hover{
  transform: scale(1.05);
}

.me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.me:hover{
  transform: scale(1.05);
}

.ol {
  text-align: center;
  font-size: large;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center
}

.centered-list {
  display: inline-block
   text-align left; 
}

#easy {
  color: purple;
  text-shadow: 1px 1px white;
}

#medium {
  color: yellow;
  text-shadow: 1px 1px darkgreen;
}

#hard {
  color: red;
  text-shadow: 1px 1px black;
}

.wave {

  border: 4px solid #192A51;

  background-color: brown;

  text-shadow: 2px 2px white;

  text-decoration: underline;

  color: white;

  text-align: center;

  font-size: 0.9em;

  height: 60px;

  overflow: hidden;

  width: 80%;

  margin: 10px auto;

  transition: height 0.8s ease;

}

.wave:hover {

  height: 350px;

}

.W2 {

  border: 4px solid #192A51;

  background-color: darkred;

  text-shadow: 2px 2px white;

  text-decoration: underline;

  color: red;

  text-align: center;

  font-size: 0.9em;

  height: 60px;

  overflow: hidden;

  width: 80%;

  margin: 10px auto;

  transition: height 0.5s ease;

}

.W2:hover {

  height: 480px;

}

.W3 {

  border: 4px solid #192A51;

  background-color: blue;

  text-shadow: 2px 2px darkblue;

  text-decoration: underline;

  color: forestgreen;

  text-align: center;

  font-size: 0.9em;

  height: 60px;

  overflow: hidden;

  width: 80%;

  margin: 10px auto;

  transition: height 0.5s ease;

}

.W3:hover {

  height: 480px;

}

.W4 {

  border: 4px solid #192A51;

  background-color: darkgreen;

  text-shadow: 2px 2px black;

  text-decoration: underline;

  color: green;

  text-align: center;

  font-size: 0.9em;

  height: 60px;

  overflow: hidden;

  width: 80%;

  margin: 10px auto;

  transition: height 0.5s ease;

}

.W4:hover {

  height: 480px;

}